################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GacWmsIntegration/bin/Debug/net8.0
/GacWmsIntegration/Logs
/GacWmsIntegration/obj
/GacWmsIntegration.Core/bin/Debug/net8.0
/GacWmsIntegration.Core/obj
/GacWmsIntegration.FileProcessor/bin/Debug/net8.0
/GacWmsIntegration.FileProcessor/obj/Debug/net8.0
/GacWmsIntegration.FileProcessor/obj
/GacWmsIntegration.Infrastructure/obj
/GacWmsIntegration.Infrastructure/bin/Debug/net8.0
/.vs
/GacWmsIntegratio/bin/Debug/net8.0
/GacWmsIntegratio/obj
/GacWmsIntegration.Core.Tests/bin/Debug/net8.0
/GacWmsIntegration.Core.Tests/obj
/GacWmsIntegration.FileProcessor.Tests/bin/Debug/net8.0
/GacWmsIntegration.FileProcessor.Tests/obj
/GacWmsIntegration.Infrastructure.Tests/bin/Debug/net8.0
/GacWmsIntegration.Infrastructure.Tests/obj
/GacWmsIntegration.Tests/bin/Debug/net8.0
/GacWmsIntegration.Tests/obj
